In [1]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [2]:
# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [3]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [5]:
# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3}

In [6]:
# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [7]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

<class 'dict'>

In [8]:
# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'set'>

In [9]:
# initialize my_set
my_set = {1, 3}
print(my_set)

{1, 3}

In [10]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [11]:
# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [12]:

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [13]:

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [14]:
# A particular item can be removed from a set using the methods discard() and remove().
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}

In [15]:
# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [16]:
# discard an element not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

{1, 3, 5}

In [17]:
# remove an element not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

KeyError: 2

In [24]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

{'H', 'W', 'd', 'e', 'r', 'o', 'l'}

In [25]:
# pop an element
# Output: random element 
#Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.
print(my_set.pop())

H

In [26]:
# pop another element
my_set.pop()

'W'

In [27]:
print(my_set)

{'d', 'e', 'r', 'o', 'l'}

In [29]:
# pop another element
my_set.pop()

'e'

In [30]:
# clear my_set
# Output: set()
my_set.clear()
print(my_set)

set()

In [31]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [32]:
# Set union method
# use | operator

print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
#union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [37]:
A.intersection(B)

{4, 5}

In [38]:
# use intersection function on B
B.intersection(A)

{4, 5}

In [39]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}

print(A - B)

{1, 2, 3}

In [40]:
# use difference function on A
A.difference(B)

{1, 2, 3}

In [41]:
# use - operator on B
B - A

{6, 7, 8}

In [42]:
# use difference function on B
B.difference(A)

{6, 7, 8}

In [43]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [44]:
# use symmetric_difference function on A
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [45]:
# use symmetric_difference function on B
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [46]:
#Adding elements to a SET
# set of vowels
vowels = {'a', 'e', 'i', 'u'}

# adding 'o'
vowels.add('o')
print('Vowels are:', vowels)

# adding 'a' again
vowels.add('a')
print('Vowels are:', vowels)

Vowels are: {'i', 'a', 'e', 'u', 'o'}
Vowels are: {'i', 'a', 'e', 'u', 'o'}

In [47]:
#Adding tuples to a SET
# set of vowels
vowels = {'a', 'e', 'u'}

# a tuple ('i', 'o')
tup = ('i', 'o')

# adding tuple
vowels.add(tup)
print('Vowels are:', vowels)

# adding same tuple again
vowels.add(tup)
print('Vowels are:', vowels)

Vowels are: {'e', ('i', 'o'), 'a', 'u'}
Vowels are: {'e', ('i', 'o'), 'a', 'u'}

In [50]:
A = {1,33,90, 2, 3, 14, 5}
C = sorted(A)
C

[1, 2, 3, 5, 14, 33, 90]

In [51]:
#The enumerate() method adds counter to an iterable and returns it (the enumerate object).
A = {1,33,90, 2, 3, 14, 5}
print(enumerate(A))

<enumerate object at 0x000001F38DBA4900>

In [52]:
for item in enumerate(A):
  print(item)

(0, 1)
(1, 2)
(2, 3)
(3, 33)
(4, 5)
(5, 14)
(6, 90)

In [53]:
for item in enumerate(A,11):
  print(item)

(11, 1)
(12, 2)
(13, 3)
(14, 33)
(15, 5)
(16, 14)
(17, 90)

In [55]:
#You can convert enumerate objects to list and tuple using list() and tuple() method respectively.
grocery = {'bread', 'milk', 'butter'}
enumerateGrocery = enumerate(grocery)

print(type(enumerateGrocery))

<class 'enumerate'>

In [56]:
# converting to list
print(list(enumerateGrocery))

[(0, 'bread'), (1, 'butter'), (2, 'milk')]

In [57]:
l = {12,34,55}
print(all(l))

True

In [58]:
l = {12,34,55,0}
print(all(l))

False

In [63]:
A = {3,8,2,6}
B = {4,2,1,9}
A.union(B)

{1, 2, 3, 4, 6, 8, 9}

In [64]:
print(A)
print(B)

{8, 2, 3, 6}
{1, 2, 4, 9}

In [65]:
A = {'a', 'b'}
B = {1, 2, 3}

result = A.update(B) # Updates the set with union of itself and others

print('A =', A)
print('result =', result)  #This set update() method returns None (returns nothing).

A = {'b', 1, 2, 3, 'a'}
result = None

In [67]:
set1 = {3,8,2,6}
set2 = {4,2,1,9}
set1.intersection_update(set2)
print(set1)
print(set2)

{2}
{1, 2, 4, 9}

In [61]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5, 6}
C = {4, 5, 6, 9, 10}

result = C.intersection_update(B, A)                     # {2,3,4} are common

print('result =', result)
print('C =', C)
print('B =', B)            # B unchanged
print('A =', A)            # A unchanged

result = None
C = {4}
B = {2, 3, 4, 5, 6}
A = {1, 2, 3, 4}

In [62]:
A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

result = A.difference_update(B)

print('A = ', A)           # A will be equal to A-B
print('B = ', B)           #unchanged
print('result = ', result)  #difference_update() returns None indicating the object (set) is mutated.

A =  {'a', 'd'}
B =  {'g', 'c', 'f'}
result =  None

In [70]:
set1 = {3,8,2,6}
set2 = {4,2,1,9}

print(set1.symmetric_difference(set2))
print(set1)
print(set2)
set3=set1.symmetric_difference(set2)
print(set3)

{1, 3, 4, 6, 8, 9}
{8, 2, 3, 6}
{1, 2, 4, 9}
{1, 3, 4, 6, 8, 9}

In [71]:
set1.symmetric_difference_update(set2)

In [72]:
print(set1)
print(set2)

{1, 3, 4, 6, 8, 9}
{1, 2, 4, 9}

In [73]:
print(set1.isdisjoint(set2))

False

In [76]:
set4 ={}

In [78]:
print(type(set4))

<class 'dict'>

In [79]:
set4=set()

In [80]:
print(type(set4))

<class 'set'>

In [83]:
set5 ={3,5}
print(type(set5))

<class 'set'>