In [58]:
import random

In [59]:
s = "abcde"

In [61]:
print("choice(abcde):", random.choice(s))

choice(abcde): c

In [62]:
list = [2,45,77]

In [63]:
print("shuffle(list)", random.shuffle(list))

shuffle(list) None

In [6]:
list

[2, 45, 77]

In [64]:
print(random.uniform(2,5))

2.793650611601196

In [65]:
print('navin's laptop')

SyntaxError: invalid syntax (<ipython-input-65-c97dd56a485d>, line 1)

In [66]:
print("navin's laptop")

navin's laptop

In [67]:
print('navin\'s laptop')

navin's laptop

In [68]:
txt = "We are the so-called "Rockers" from the north."

SyntaxError: invalid syntax (<ipython-input-68-c27cbd3ab8b0>, line 1)

In [69]:
txt = "We are the so-called \"Rockers\" from the north."

In [70]:
print(txt)

We are the so-called "Rockers" from the north.

In [71]:
print('We are the so-called "Rockers" from the north.')

We are the so-called "Rockers" from the north.

In [20]:
print('navin' + 'navin')

navinnavin

In [21]:
print(10*'navin')

navinnavinnavinnavinnavinnavinnavinnavinnavinnavin

In [22]:
print("c:\docs\navin")

c:\docs
avin

In [23]:
print(r"c:\docs\navin")

c:\docs\navin

In [74]:
character_name = "John"
print("There was once a man named " + character_name + ".")

There was once a man named John.

In [25]:
character_age = 35                                                 #storing integers

In [75]:
print("He was " + character_age + " years old")

TypeError: can only concatenate str (not "int") to str

In [41]:
print(type(character_age))

<class 'int'>

In [76]:
print("He was " + str(character_age) + " years old")

He was 35 years old

In [28]:
character_weight = 66.76             #storing flaots

In [77]:
print("His weight is " + str(character_weight) + " kg")

His weight is 66.76 kg

In [30]:
phrase = "Gauhati University"

In [31]:
print("the first letter of %s is %c" %(phrase,'p'))

the first letter of Gauhati University is p

In [32]:
print("the sum is %d" %(-12))

the sum is -12

In [35]:
print( "%o is the Octal equivalent of %d" %(8,8))

10 is the Octal equivalent of 8

In [36]:
print("%X is the hexadecimal equivalent of %d" %(14,14))

E is the hexadecimal equivalent of 14

In [37]:
print("%.2f" %(34.5678923))

34.57

In [38]:
import platform

In [78]:
platform.python_version()

'3.8.3'

In [42]:
print(phrase.lower())

gauhati university

In [43]:
print(phrase.upper())

GAUHATI UNIVERSITY

In [79]:
phrase = "Gauhati University"

In [80]:
print(phrase.isupper())

False

In [46]:
print(phrase.upper().isupper())

True

In [47]:
print(len(phrase))

18

In [48]:
print(phrase[0])

G

In [49]:
print(phrase.index("a"))

1

In [50]:
print(phrase.index("Univ"))

8

In [51]:
print(phrase.replace("Gauhati" , "MIT"))

MIT University

In [81]:

print(round(3.15))

3

In [54]:
import math
print(math.floor(3.45))

3

In [55]:
print(math.ceil(3.56))

4

In [82]:
name = input("Enter your Name:")
age = input ("Enter your Age:")
print("Hello " + name + "! . You are " + age)  # no data type conversions required, since all are read as strings

Enter your Name:raveena
Enter your Age:22
Hello raveena! . You are 22

In [91]:
s = 'learning Python is fun'

In [92]:
print(s.capitalize())    # built-in functions for strings

Learning python is fun

In [93]:
print(s.title())

Learning Python Is Fun

In [94]:
st= '   bbbbbb'
print(st.lstrip())

bbbbbb

In [95]:
print(max(s))

y

In [97]:
print(s.zfill(30))

00000000learning Python is fun

In [98]:
print(s.count('j',1,12))

0

In [99]:
print(s.count('n',1,12))

2

In [100]:
print(s.find('j',1,12))

-1

In [101]:
print(s.index('j',1,12))

ValueError: substring not found