In [1]:
text ="Python"

In [2]:
text[0]="x"

TypeError: 'str' object does not support item assignment

In [3]:
for character in text:
    print(character)

P
y
t
h
o
n

In [4]:
print("P" in text)

True

In [5]:
print("onth" in text)

False

In [6]:
text = " i like Python3"
print(text.split())

['i', 'like', 'Python3']

In [17]:
name = 'Jane'
age =24

In [18]:
print("name is" , name,"and age is",age)

name is Jane and age is 24

In [28]:
#String formatting with str.format()
print("name is {} and his age is {}".format(name, age) )

name is john and his age is 30

In [29]:
stg1 ="Hey"
stg2 ="there"
stg3 = "all"
# Hey there, all!

In [30]:
stg = "{} {}, {}!".format(stg1,stg2,stg3)
print(stg)

Hey there, all!

In [26]:
#Python F-strings
name="john"
age=30
print(f"hello,my name is {name} and my age is {age}")

hello,my name is john and my age is 30

In [27]:
val = 'Geeks'
print(f"{val}for{val} is a portal for {val}.")

GeeksforGeeks is a portal for Geeks.

In [31]:
nums = [23,24,55,66]

In [32]:
nums

[23, 24, 55, 66]

In [33]:
nums[0]

23

In [35]:
nums[3]

66

In [36]:
nums[-1]

66

In [37]:
nums[2:]

[55, 66]

In [38]:
nums[1:3]

[24, 55]

In [39]:
names = ['kiran','amy','leenu']

In [40]:
names

['kiran', 'amy', 'leenu']

In [41]:
values=[23,3.5,'naira']

In [42]:
values

[23, 3.5, 'naira']

In [43]:
misc =[nums,names]

In [44]:
misc

[[23, 24, 55, 66], ['kiran', 'amy', 'leenu']]

In [45]:
values.append('abc')
values

[23, 3.5, 'naira', 'abc']

In [46]:
values.remove('abc')

In [47]:
values

[23, 3.5, 'naira']

In [48]:
values.pop()

'naira'

In [49]:
values

[23, 3.5]

In [50]:
names

['kiran', 'amy', 'leenu']

In [51]:
names.pop(1)

'amy'

In [52]:
names

['kiran', 'leenu']

In [53]:
names.insert(1,'james')

In [54]:
names

['kiran', 'james', 'leenu']

In [55]:
nums

[23, 24, 55, 66]

In [56]:
nums.extend([23,77,88,99])

In [57]:
nums

[23, 24, 55, 66, 23, 77, 88, 99]

In [58]:
min(nums)

23

In [59]:
max(nums)

99

In [60]:
sum(nums)

455

In [61]:
nums.sort()

In [62]:
nums

[23, 23, 24, 55, 66, 77, 88, 99]

In [63]:
nums.reverse()

In [64]:
nums

[99, 88, 77, 66, 55, 24, 23, 23]

In [66]:
nums.count(23)

2

In [67]:
nums.count(88)

1

In [5]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = ("a", "b", "c", "d")

In [6]:
tup1 = ()

In [7]:
tup1 = (50,)

In [8]:
print("tup1[0]: ", tup1[0])

tup1[0]:  50

In [9]:
print("tup2[1:5]: ", tup2[1:5])

tup2[1:5]:  (2, 3, 4, 5)

In [10]:
tup1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [12]:
# So let's create a new tuple as follows
tup3 = tup1 + tup2
print(tup3)

(50, 1, 2, 3, 4, 5)

In [13]:
print(tup2)

(1, 2, 3, 4, 5)

In [14]:
del tup2

In [15]:
print("After deleting tup : ")
print(tup2)

After deleting tup :

NameError: name 'tup2' is not defined

In [16]:
len((1, 2, 3))

3

In [17]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [18]:
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [19]:
3 in (1, 2, 3)

True

In [20]:
for x in (1, 2, 3): print(x)

1
2
3

In [30]:
L = ('spam', 'Spam', 'SPAM!',55,9.6)

In [22]:
L[2]

'SPAM!'

In [23]:
L[-2]

'Spam'

In [31]:
L[1:]

('Spam', 'SPAM!', 55, 9.6)

In [27]:
list(tup3)

[50, 1, 2, 3, 4, 5]

In [28]:
list =[2,5,6,"yyy"]

In [29]:
tuple(list)

(2, 5, 6, 'yyy')